<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>sampleModel2el</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Member</servlet-name>
    <servlet-class>member.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Member</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BBS</servlet-name>
    <servlet-class>bbs.BbsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBS</servlet-name>
    <url-pattern>/bbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calendar</servlet-name>
    <servlet-class>calendar.CalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calendar</servlet-name>
    <url-pattern>/calendar</url-pattern>
  </servlet-mapping>
</web-app>